
    /* Color Theme Swatches in Hex */
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-1-hex { color: #6A0261; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-2-hex { color: #0487D9; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-3-hex { color: #04C4D9; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-4-hex { color: #04D99D; }
.color-theme_blurred-gradient-abstract-background-with-vivid-primary-colors_58702-1202-5-hex { color: #0DF205; }

   
*
{
  font-family: 'Baloo Bhaijaan 2';
}
h1
{
    position: relative;
    left : 50%;
    transform: translateX(-100px);
}
#background-color
{
  position: fixed;
  width: 150%;
  height: 50%;
  left:-100px;
  top: -100px;
  padding: 15px;
  border-radius: 24px;
  z-index: -10;
  background-color: #0026cf;
}
.contactMe > .gmail > a
{
    position:fixed;
    left: 20PX;
    top:85%;
    z-index: 1 ;
    margin: 0px;
    padding: 15px;
    border-radius: 24px;
    filter: grayscale(100%) ;
    background-color:#000000;
    transition: all 0.3s ease-out 0.1s;
}
.contactMe > .gmail > pre
{ font-size: 10px;
  position: fixed ;
  left: 5%;
  top:85%;
  transition: all 0.3s ease-out 0.1s;
}
.contactMe > .gmail > pre:hover 
{
  font-size: 10px;
  transform: translateY(-100px);
}
.contactMe > .gmail > a:hover 
{
    transform: scale(1.1);
    filter: grayscale(0%) ;
    background-color:rgba(255, 255, 255, 0);
}
